@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
* {
    font-family: 'Roboto Slab', serif;
}
html, body {
	font-size: 16px;
}


.vertical-align {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
}

.card {
	background: #fff;
    box-shadow: 15px 15px 25px 0 rgba(0, 0, 0, 0.1);
    padding: 7px 15px;
}